flow-master/schema/testschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://www.example.org/xsd/" xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/xsd/">
    <include xmlns="" schemaLocation=""/>

    <element xmlns="" name="topic" type="tns:ComplexType"/>


    <complexType xmlns="" name="ComplexType">
        <sequence>
            <element name="name" type="string">报警</element>
            <element name="location" type="string"/>
            <element name="value" type="double"/>
        </sequence>
    </complexType>

</schema>